<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>
      GooglyAqua
    </title>
    <link rel="stylesheet" href="/static/GooglyWaterSalution.css">
  </head>
  <body>
    <!--Header Part-->
    <header>
      <nav>
       <ul class="sidebar">
        <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="black"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
        <li><a href="#home" onclick="hideSidebar()">Home</a></li>
        <li><a href="#product" onclick="hideSidebar()">Products</a></li>
        <li><a href="#faq" onclick="hideSidebar()">FAQs</a></li>
       <li><a href="#aboutus" onclick="hideSidebar()">About Us</a></li>
      <li><a href="#contactus" onclick="hideSidebar()">Contact Us</a></li>
      </ul>
      <ul>
        <li class="hideOnMobile"><a href="#home">Home</a></li>
        <li class="hideOnMobile"><a href="#product">Products</a></li>
        <li class="hideOnMobile"><a href="#faq">FAQs</a></li>
        <li class="hideOnMobile"><a href="#aboutus">About Us</a></li>
        <li class="hideOnMobile"><a href="#contactus">Contact Us</a></li>
        <li class="menu-button" onclick=showSidebar()><a><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="28px" fill="black"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
      </ul>
    </nav>
    </header>
    
  <!-- HERO SECTION START -->
<section id="home" class="hero">

  <!-- LEFT SIDE TEXT -->
  <div class="hero-text">
    <!-- SMALL TOP TEXT -->
    <h1>Googly Aqua</h1>
    <p class="tag">Your Trusted Complete Water Solution </p>
    <br>
    <!-- MAIN HEADING -->
    <p class="company-name">
      Drink Pure, Live Healthy
    </p>

    <!-- DESCRIPTION -->
    <p class="description">

      Advanced RO water purifiers with
      multi-stage filtration technology
      for 100% pure and safe drinking water.

    </p>
    <!-- BUTTON -->
    <button class="hero-btn">
      <a class="exproduct" href="#product">Explore Products →</a>
    </button>
  </div>
  <!-- RIGHT SIDE IMAGE -->
  <div class="hero-image">
    <!-- PRODUCT IMAGE -->
    <img src="https://res.cloudinary.com/dekabvy07/image/upload/v1780084793/HeroImage-removebg-preview_wu2nui.png" alt="image">
    
  </div>
</section>
<!-- HERO SECTION END -->

<!-- FEATURES SECTION START -->
<section class="features">

  <!-- FEATURE BOX 1 -->
  <div class="feature-box">
    <div class="icon">
      🛡️
    </div>
    <div>
      <h3>Advanced Purification</h3>
      <p>
        Multi-stage RO + UV + UF filtration technology
      </p>
    </div>
  </div>
  <!-- FEATURE BOX 2 -->
  <div class="feature-box">

    <div class="icon">
      💧
    </div>
    <div>
      <h3>100% Pure Water</h3>
      <p>
        Removes TDS, bacteria and harmful minerals
      </p>
    </div>
  </div>
  <!-- FEATURE BOX 3 -->
  <div class="feature-box">
    <div class="icon">
      🔧
    </div>
    <div>
      <h3>Free Installation</h3>
      <p>
        Hassle-free installation at your doorstep
      </p>
    </div>
  </div>

  <!-- FEATURE BOX 4 -->
  <div class="feature-box">

    <div class="icon">
      🎧
    </div>
    <div>
      <h3>Best Support</h3>
      <p>
        Quick service & support whenever needed
      </p>
    </div>
  </div>
</section>
<!-- FEATURES SECTION END -->

<!--Product Section Starts-->
   <section class="product" id="product">
    <div class="container">
      <h2>Pure Solutions</h2>
      <div class="product-list">
        <!--Products 1-->
        <div class="product-card">
         <div class="product-image">
          <img src="https://aquafreshro.co.in/wp-content/uploads/2024/09/Add-a-heading-2025-07-08T155947.969.png.webp" alt="Product">
         </div>
          <div class="product-info">
            <h3>RO Purifier</h3>
            <p class="specification">Instalation Type:<span>Wall Mounted</span></p>
    <p class="specification">Features:<span>Smart Indictor</span></p>
    <p class="specification">Usage/application:<span>For Home and Office</span></p>
    <p class="specification">Body Material:<span>ABS Plastic</span></p>
    <p class="specification">Brand Name:<span>Aquaguard</span></p>
    <p class="specification">Product Capacity:<span>12L</span></p>
    <p class="specification">Color:<span>White(Base)</span></p>
    <p class="specification">Purification Type:<span>RO+UV+Alkaline+Silver Nano</span></p>
    <p class="specification">Model Name:<span>Bio Smart</span></p>
    <p class="specification">Power:<span>60W</span></p>
    
    
   
            <button class="best-deal">Get Best Deal</button>
            <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
          </div>
        
    </div>
        <!--Product 2-->
        <div class="product-card">
          <div class="product-image">
            <img src="https://tiimg.tistatic.com/fp/1/006/880/aquafresh-swift-ro-water-purifiers-835.jpg" alt="Product">
          </div>
          <div class="product-info">
            <h3>RO Purifier</h3>
            <p class="specification">Instalation Type:<span>Wall Mounted</span></p>
    <p class="specification">Features:<span>Smart Indictor</span></p>
    <p class="specification">Usage/application:<span>For Home and Office</span></p>
    <p class="specification">Body Material:<span>ABS Plastic</span></p>
    <p class="specification">Brand Name:<span>AquaFresh</span></p>
    <p class="specification">Product Capacity:<span>16L</span></p>
    <p class="specification">Color:<span>White(Base)</span></p>
    <p class="specification">Purification Type:<span>RO+UV+UF+Mineral</span></p>
    <p class="specification">Model Name:<span>Aqua Swift</span></p>
    <p class="specification">Power:<span>24W</span></p>
  
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
           
          </div>
        </div>
        <!--Product 3-->
        <div class="product-card">
          <div class="product-image">
            <img src="https://m.media-amazon.com/images/I/41A5b8h9W5L.jpg" alt="Product">
          </div>
          <div class="product-info">
            <h3>RO Purifier</h3>
            <p class="specification">Instalation Type:<span>Wall Mounted</span></p>
    <p class="specification">Features:<span>Smart Indictor</span></p>
    <p class="specification">Usage/application:<span>For Home and Office</span></p>
    <p class="specification">Body Material:<span>ABS Plastic</span></p>
    <p class="specification">Brand Name:<span>STARLINK</span></p>
    <p class="specification">Product Capacity:<span>12L</span></p>
    <p class="specification">Color:<span>White(Base)</span></p>
    <p class="specification">Purification Type:<span>RO+UV+Copper Alkaline</span></p>
    <p class="specification">Power:<span>60W</span></p>
    
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
           
          </div>
        </div>
        <!--Product 4-->
        <div class="product-card">
          <div class="product-image">
            <img src="https://aquafreshsystem.in/wp-content/uploads/2021/01/sage.jpg" alt="Product">
          </div>
          <div class="product-info">
            <h3>RO Purifier</h3>
            <p class="specification">Instalation Type:<span>Wall Mounted</span></p>
    <p class="specification">Features:<span>Smart LED</span></p>
    <p class="specification">Usage/application:<span>For Home and Office</span></p>
    <p class="specification">Body Material:<span>ABS Plastic</span></p>
    <p class="specification">Brand Name:<span>AquaXSage</span></p>
    <p class="specification">Product Capacity:<span>20L</span></p>
    <p class="specification">Color:<span>White(Base)</span></p>
    <p class="specification">Purification Type:<span>RO+UV+Alkaline+Silver Nano</span></p>
    <p class="specification">Power:<span>60W</span></p>
  
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
          
          </div>
        </div>
        <!--Product 5-->
        <div class="product-card">
          <div class="product-image">
            <img src="https://aquafreshro.co.in/wp-content/uploads/2025/03/Add-a-heading-2025-07-07T184032.978-300x300.png" alt="Product">
          </div>
          <div class="product-info">
            <h3>RO Purifier</h3>
            <p class="specification">Instalation Type:<span>Wall Mounted</span></p>
    <p class="specification">Features:<span>Copper </span></p>
    <p class="specification">Usage/application:<span>For Home and Office</span></p>
    <p class="specification">Body Material:<span>ABS Plastic</span></p>
    <p class="specification">Brand Name:<span>Aquafresh Regal Black Copper</span></p>
    <p class="specification">Product Capacity:<span>12L</span></p>
    <p class="specification">Color:<span>Black</span></p>
    <p class="specification">Purification Type:<span>RO+UV+UF+TDS</span></p>
    <p class="specification">Power:<span>30-40W</span></p>
    
  
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
            
          </div>
        </div>
        <!--Product 6-->
        <div class="product-card">
          <div class="product-image">
            <img src="https://res.cloudinary.com/dekabvy07/image/upload/v1780071835/Seron_titqqz.jpg" alt="Product">
          </div>
          <div class="product-info">
            <h3>RO Purifier</h3>
            <p class="specification">Instalation Type:<span>Wall Mounted</span></p>
    <p class="specification">Features:<span>Smart Indictor</span></p>
    <p class="specification">Usage/application:<span>For Home and Office</span></p>
    <p class="specification">Body Material:<span>ABS Plastic</span></p>
    <p class="specification">Brand Name:<span>Aquaguard</span></p>
    <p class="specification">Product Capacity:<span>10L</span></p>
    <p class="specification">Color:<span>Black</span></p>
    <p class="specification">Purification Type:<span>RO+UV+Alkaline+Silver Nano</span></p>
    <p class="specification">Model Name:<span>Seron+</span></p>
    <p class="specification">Power:<span>60W</span></p>
   
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
           
          </div>
        </div>
        <!--Product 7-->
        <div class="product-card">
          <div class="product-image">
            <img src="https://5.imimg.com/data5/SELLER/Default/2024/6/426079071/HV/BB/YN/223473982/lexpure-glam-ro-water-purifier.jpg" alt="Product">
          </div>
          <div class="product-info">
            <h3>RO Purifier</h3>
            <p class="specification">Instalation Type:<span>Wall Mounted</span></p>
    <p class="specification">Features:<span>Smart Indictor</span></p>
    <p class="specification">Usage/application:<span>For Home and Office</span></p>
    <p class="specification">Body Material:<span>ABS Plastic</span></p>
    <p class="specification">Brand Name:<span>Lexpure</span></p>
    <p class="specification">Product Capacity:<span>10/12/13L</span></p>
    <p class="specification">Color:<span>Gun Metal</span></p>
    <p class="specification">Purification Type:<span>RO+UV+Alkaline+Silver Nano</span></p>
    <p class="specification">Model Name:<span>LX One</span></p>
    <p class="specification">Series:<span>Titanium Series</span></p>
    <p class="specification">Power:<span>40W/60W</span></p>
    
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
            
          </div>
        </div>
        <!-- Product 8-->
         <div class="product-card">
          <div class="product-image">
            <img src="https://res.cloudinary.com/dekabvy07/image/upload/v1780071888/Ultima_ak4ar6.jpg" alt="Product">
          </div>
          <div class="product-info">
            <h3>RO Purifier</h3>
            <p class="specification">Installation Type:<span>Wall Mounted</span></p>
    <p class="specification">Features:<span>LED Indicator</span></p>
    <p class="specification">Usage/application:<span>For Home and Office</span></p>
    <p class="specification">Body Material:<span>ABS Plastic</span></p>
    <p class="specification">Brand Name:<span>Total Care</span></p>
    <p class="specification">Product Capacity:<span>20L</span></p>
    <p class="specification">Color:<span>Black/Dark Green</span></p>
    <p class="specification">Purification Type:<span>RO+UV+Zinc Copper Alkaline+TDS </span></p>
    <p class="specification">Model Name:<span>Ultima</span></p>
    <p class="specification">Power:<span>60W</span></p>
    
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
           
          </div>
        </div>
        <!--Product 9-->
        <div class="product-card">
          <div class="product-image">
            <img src="https://res.cloudinary.com/dekabvy07/image/upload/v1780071646/Axeon_d2sfyb.jpg" alt="Product">
          </div>
          <div class="product-info">
            <h3>RO Purifier</h3>
            <p class="specification">Installation Type:<span>Wall Mounted</span></p>
    <p class="specification">Features:<span>Dual Dispensing</span></p>
    <p class="specification">Usage/application:<span>For Home and Office</span></p>
    <p class="specification">Body Material:<span>ABS Plastic</span></p>
    <p class="specification">Brand Name:<span>Axeon</span></p>
    <p class="specification">Product Capacity:<span>10L</span></p>
    <p class="specification">Color:<span>Red and Cream</span></p>
    <p class="specification">Purification Type:<span>RO+UV+Alkaline+TDS</span></p>
    <p class="specification">Model Name:<span>Axeon Domestic Hot and Cold</span></p>
    <p class="specification">Power:<span>60W</span></p>
   
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
            
          </div>
        </div>
        <!--Product 10-->
        <div class="product-card">
          <div class="product-image">
            <img src="https://res.cloudinary.com/dekabvy07/image/upload/v1780071629/CleanWater_bi84gf.jpg" alt="Product">
          </div>
          <div class="product-info">
            <h3>RO Purifier</h3>
            <p class="specification">Installation Type:<span>Wall Mounted</span></p>
    <p class="specification">Features:<span>Smart Indictor</span></p>
    <p class="specification">Usage/application:<span>For Home and Office</span></p>
    <p class="specification">Body Material:<span>ABS Plastic</span></p>
    <p class="specification">Brand Name:<span>Hi-Flow</span></p>
    <p class="specification">Product Capacity:<span>9-15L</span></p>
    <p class="specification">Color:<span>Sky Blue & White</span></p>
    <p class="specification">Purification Type:<span>RO+UV+Active Copper+Alkaline</span></p>
    <p class="specification">Model Name:<span>Hi-Flow</span></p>
    <p class="specification">Power:<span>35W-60W</span></p>
  
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
           
          </div>
        </div>
        <!--Product 11-->
        <div class="product-card">
          <div class="product-image">
            <img src="https://res.cloudinary.com/dekabvy07/image/upload/v1780072373/Imigo_itrxse.jpg" alt="Product">
          </div>
          <div class="product-info">
            <h3>RO Purifier</h3>
            <p class="specification">Installation Type:<span>Wall Mounted</span></p>
    <p class="specification">Features:<span>Smart Indictor</span></p>
    <p class="specification">Usage/application:<span>For Home and Office</span></p>
    <p class="specification">Body Material:<span>ABS Plastic</span></p>
    <p class="specification">Brand Name:<span>Simigo</span></p>
    <p class="specification">Product Capacity:<span>12L</span></p>
    <p class="specification">Color:<span>White & Blue</span></p>
    <p class="specification">Purification Type:<span>RO+UV+UF+TDS Control</span></p>
    <p class="specification">Model Name:<span>Bio Smart</span></p>
    <p class="specification">Power:<span>30-60W</span></p>
  
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
           
          </div>
        </div>
        <!--Product 12-->
         <div class="product-card">
          <div class="product-image">
            <img src="https://res.cloudinary.com/dekabvy07/image/upload/v1780072651/plant_eqjjle.webp" alt="Product">
          </div>
          <div class="product-info">
            <h3>RO Plant</h3>
            <p class="specification">Installation Type:<span>Floor-Mounted</span></p>
    <p class="specification">Features:<span>Automatic/Semi-automatic</span></p>
    <p class="specification">Usage/application:<span>Commercial RO</span></p>
    <p class="specification">Body Material:<span>FRP</span></p>
    <p class="specification">Brand Name:<span>GooglyAqua</span></p>
    <p class="specification">Product Capacity:<span>1000LPH</span></p>
    <p class="specification">Color:<span>Blue</span></p>
    <p class="specification">Purification Type:<span>RO+UV</span></p>
    <p class="specification">Model Name:<span>8040 Membrane</span></p>
    <p class="specification">Power:<span>Single Phase 2-3KW</span></p>
    
    <h3><u>Product Description</u></h3>
    <p>SS304 Full/Half Skid , Vessel 1354, 
      MPV 1-inch, CRI 1hp pump, Dosing pump,
       antiscale chemical 5 ltr.,Activated carbon 25kg,
        Sand Mix 50kg, Jumbo Housing 20-inch*2,
        Jumbo pp 20-inch*4,ROTA METER , Pressure Gase, Auto-Pannel,
        High Pressure Pump 2/15,SS Membrane Housing 8040/4040,
        Membrane 4040/8040, High TDS 2000-4000.</p>
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
           
          </div>
        </div>
        <!--Product14-->
         <div class="product-card">
          <div class="product-image">
            <img src="https://tiimg.tistatic.com/fp/2/002/218/500-lph-ro-system-960.jpg" alt="Product">
          </div>
          <div class="product-info">
            <h3>RO Plant</h3>
            <p class="specification">Installation Type:<span>Floor-Mounted</span></p>
    <p class="specification">Body Material:<span>Stainless Steel & FRP</span></p>
    <p class="specification">Brand Name:<span>GooglyAqua</span></p>
    <p class="specification">Product Capacity:<span>500L</span></p>
    <p class="specification">Color:<span>White(Base)</span></p>
    <p class="specification">Purification Type:<span>RO</span></p>
    
    <h3><u>Product Description</u></h3>
    <p>SS304 Full/Half Skid , Vessel 1054, 
      MPV 1-inch, CRI 1hp pump, Dosing pump,
       antiscale chemical 5 ltr.,Activated carbon 25kg,
        Core Sand Mix 25kg, Jumbo Housing 20-inch*2,
        Jumbo pp 20-inch*4,ROTA METER , Pressure Gase, Auto-Pannel,
        SS Membrane Housing 4040,
        Membrane 4040, High TDS 2000-4000.</p>
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div> 
</div>
         </div>
         <!--Product15-->
         <div class="product-card">
          <div class="product-image">
            <img src="https://res.cloudinary.com/dekabvy07/image/upload/v1780071188/8040membrane_ls3flt.avif" alt="Product">
          </div>
          <div class="product-info">
            <h3></h3>
    
    <h3><u>Product Description</u></h3>
    <p>8040, Diameter 8-inch, RO Membrane , Used for High TDS WAter Purification , Salt Rection 95-99%, 
      Used in Stainless Steel/FRP Vessel ,
      Production capacity 2500-10000 GPT,
      4040 Membrane,Diameter 4-inch
    </p>
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
           
          </div>
        </div>
        <!--Product 16-->
         <div class="product-card">
          <div class="product-image">
            <img src="https://5.imimg.com/data5/SELLER/Default/2022/4/GZ/TK/JH/89489377/hjc-ro-membrane.jpg" alt="Product">
          </div>
          <div class="product-info">
            <h3>HJC Membrane</h3>

            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
           
          </div>
        </div>
<!--Product 17-->
 <div class="product-card">
          <div class="product-image">
            <img src="https://aquafreshro.co.in/wp-content/uploads/2021/01/Commercial-RO-Plant.jpg" alt="Product">
          </div>
          <div class="product-info">
            <h3>RO Plant</h3>
            <p class="specification">Installation Type:<span>Floor-Mounted</span></p>
    <p class="specification">Features:<span>Smart Indictor</span></p>
    <p class="specification">Brand Name:<span>GooglyAqua</span></p>
    <p class="specification">Product Capacity:<span>50L</span></p>
    <p class="specification">Color:<span>Blue</span></p>
    <p class="specification">Purification Type:<span>RO</span></p>
    
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
           
          </div>
        </div>
        <!--Product18-->
         <div class="product-card">
          <div class="product-image">
            <img src="https://cpimg.tistatic.com/08162085/b/4/250-Lph-Ro-Plant-Frp.jpg" alt="Product">
          </div>
          <div class="product-info">
            <h3>RO Purifier</h3>
            <p class="specification">Instalation Type:<span>Wall Mounted</span></p>
    
    <p class="specification">Brand Name:<span>GooglyAqua</span></p>
    <p class="specification">Product Capacity:<span>250L</span></p>
    <p class="specification">Purification Type:<span>RO</span></p>
  
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
           
          </div>
        </div>
        <!--Product19-->
         <div class="product-card">
          <div class="product-image">
            <img src="https://www.aquasafewater.in/wp-content/uploads/2026/01/1000-Litre-Aquasafe-SS-Water-Tank-for-Overhead.jpg" alt="Product">
          </div>
          <div class="product-info">
            <h3>RO Purifier</h3>
            <p class="specification">Installation Type:<span>Floor-Mounted</span></p>
    <p class="specification">Body Material:<span>Stainless Steel</span></p>
    <p class="specification">Brand Name:<span>GooglyAqua</span></p>
    <p class="specification">Product Capacity:<span>1000L</span></p>
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
     <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
           
          </div>
        </div>
        <!--Product20-->
         <div class="product-card">
          <div class="product-image">
            <img src="https://yashwaterpurifier.com/wp-content/uploads/2025/06/Untitled-design-5-2-1024x1024.webp" alt="Product">
          </div>
          <div class="product-info">
            <h3>RO Plant</h3>
            <p class="specification">Installation Type:<span>Floor-Mounted</span></p>
    <p class="specification">Features:<span>Automatic Operation</span></p>
    <p class="specification">Usage/application:<span>Manufacturing Industries</span></p>
    <p class="specification">Body Material:<span>Stainless Steel & FRP</span></p>
    <p class="specification">Product Capacity:<span>2000L</span></p>
    <p class="specification">Color:<span>Blue</span></p>
            <button class="best-deal">Get Best Deal</button>
             <div class="popup">
          <div class="popup-content">

    <!-- CLOSE BUTTON -->
    <span class="close-btn" onclick="closePopup()">
      &times;
    </span>

    <h2>Get Best Deal</h2>

    <p>
      Fill your details and our team will contact you.
    </p>

    <!-- FORM -->
    <form action="/submit-lead" method="POST">
       <input type="text"
           name="name"
           placeholder="Your Name"
           required>

    <input type="tel"
           name="phone"
           placeholder="Phone Number"
           required>

    <input type="text"
           name="city"
           placeholder="City">

    <textarea
           name="requirements"
           placeholder="Message"></textarea>

      <button type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
           
          </div>
        </div>

      </div>
    </div>
   </section>
   <!--Product Section Ends-->

   <!--Review Section Starts-->
   <section class="review-section">

  <h2>
    Customer Reviews
  </h2>
  <div class="review-container">

    <!-- REVIEW CARD 1 -->
    {% for review in reviews %}
<div class="review-card">
    {% if review.image_url %}
    <img src="{{ review.image_url }}" alt="reviewer">
    {% else %}
    <img src="/static/customer1.jpg" alt="reviewer">
    {% endif %}
    <h3>{{ review.name }}</h3>
    <div class="stars">
        {% for i in range(review.rating) %}★{% endfor %}
    </div>
    <p>{{ review.review_message }}</p>
</div>
{% endfor %}
<!-- REVIEW FORM -->
  <div class="review-form">
    <h3>
    Your Review Is Valuable For us.
    </h3>
    <form action="/submit-review" 
           method="POST"
           enctype="multipart/form-data">

      <input type="text"
      name="name"
      placeholder="Your Name"
      required>

      <select name="rating" required>
        <option value="">
          Give Rating
        </option>
        <option value="5">
          ★★★★★
        </option>
        <option value="4">
          ★★★★☆
        </option>
        <option value="3">
          ★★★☆☆
        </option>
      </select>
      <textarea name="message"
      placeholder="Write your review"
      required></textarea>
      <input type="file"
              name="review_image"
              accept="image/*">
              
      <button type="submit">
        Submit Review
      </button>
    </form>
  </div>
</section>
<!--Review Section Ends-->

   <!-- FAQ SECTION START -->
<section id="faq" class="faq-section">

  <!-- FAQ HEADING -->
  <h2>
    Frequently Asked Questions
  </h2>
  <!-- FAQ BOX -->
  <div class="faq">
     <!-- FAQ BOX -->
  <div class="faq">
    <button class="faq-question">
      Why Googly Aqua ?
      <span>+</span>
    </button>
    <div class="faq-answer">
      <p>
        At Googly Aqua, we believe clean and safe drinking water is essential for every family. We provide high-quality RO water purifiers with advanced purification technology to ensure pure, healthy, and safe water for your home and office.

Our focus is not only on selling products but also on delivering trusted service and long-term customer satisfaction. From product guidance to installation and support, our team works quickly to solve customer problems as soon as possible.

<br>✔ High-Quality Water Purifiers
<br>✔ Trusted Service & Support
<br>✔ Fast Response for Customer Problems
<br>✔ Affordable & Reliable Solutions
<br>✔ Customer Satisfaction is Our Priority <br>

Choose Googly Aqua for pure water, better health, and dependable service you can trust.
      </p>
    </div>
  </div>

    <!-- QUESTION -->
    <button class="faq-question">
      What is the price of your RO water purifier?
      <span>+</span>
    </button>
    <!-- ANSWER -->
    <div class="faq-answer">
      <p>
        Our RO water purifiers start from ₹7,999 depending on model and features.
      </p>
    </div>
  </div>
  <!-- FAQ BOX -->
  <div class="faq">
    <button class="faq-question">
      Do you provide free installation?
      <span>+</span>
    </button>
    <div class="faq-answer">
      <p>
        Yes, we provide free installation on all new purifier purchases.
      </p>
    </div>
  </div>
  <!-- FAQ BOX -->
  <div class="faq">
    <button class="faq-question">
      How often should filters be replaced?
      <span>+</span>
    </button>
    <div class="faq-answer">
      <p>
        Filters should usually be replaced every 4-6 months.
      </p>
    </div>
  </div>
</section>


<!-- FAQ SECTION END -->
 
<!-- ABOUT US SECTION START -->
<section id="aboutus" class="about-section">
  <div class="about-container">
    <div class="about-text">
      <h2>About Us</h2>

      <p>
        Welcome to <b>Googly Aqua</b>, your trusted partner for complete water purification solutions. 
        We provide high-quality RO water purifiers, commercial RO plants, membranes, 
        and water treatment systems for homes, offices, industries, and businesses.
      </p>

      <p>
        Our mission is to deliver safe, pure, and healthy drinking water with advanced purification technology 
        and reliable customer service. We focus on quality products, fast installation, 
        affordable pricing, and customer satisfaction.
      </p>

      <div class="company-address">
        <h3>Address </h3>
        <p>
          Googly Aqua<br>
          Baguli Street, Near Gate Bazar<br>
          Berhampur, Odisha - 760001<br>
          India
        </p>
        <p>
          📞 +91 9937207041
        </p>
        <p>
          ✉ support@googlyaqua.com
        </p>
      </div>
    </div>
  </div>
</section>
<!-- ABOUT US SECTION END -->
  
   <!--Footer Section -->
   <footer id="contactus">
    <div class="footer-content">
      <div class="footer-section">
        <h3>GOOGLY AQUA</h3>
        <p>Your Trusted Complete Water Salution</p>
      </div>
      <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#home">Home</a></li>
        <li><a href="#product">Products</a></li>
        <li><a href="#aboutus">About Us</a></li>
        
        </ul>
      </div>
       <div class="footer-section">
       <div id="contactus">
         <h3>Contact Us</h3>
        <p>Email:support@googlyaqua.com</p>
        <p>Service : 9AM -9:30 PM</p>
  <p> <a href="tel:+919938640841" class="call-btn">
  📞Call Expert
</a></p>
       </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>@2026 googly Aqua All Rights Reserved</p>

    </div>
    <div class="social-icons">
  <a href="https://facebook.com/" target="_blank">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="https://instagram.com/" target="_blank">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="https://youtube.com/" target="_blank">
    <i class="fab fa-youtube"></i>
  </a>
</div>
   </footer>
   <script src="/static/GA.js"></script>
  </body>
</html>
